﻿@model Web.Models.SendMoneyModel

@(ViewData["Title"] = "Send to Friends")

<div class="col-lg-6">
    <div class="k-portlet">
        <div class="k-portlet__head">
            <div class="k-portlet__head-label">
                <h3 class="k-portlet__head-title">Transfer from <strong>@ViewData["SourceCustomer"]</strong> another Customer</h3>
            </div>
        </div>
        <div class="k-portlet__body">

            <form asp-action="SendToAccount" autocomplete="off" asp-antiforgery="true">
                <div class="form-group">
                    <label>Select a customer to receive transfer</label>
                    @Html.DropDownList("Customer", null, "Select Customer", htmlAttributes: new { @class = "form-control" })
                </div>

                <div class="form-group ">
                    <label>Amount to transfer</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text">£</span></div>
                        <input type="text" asp-for="Amount" class="form-control" placeholder="Add mount">
                    </div>
                    <span class="form-text text-muted">Will be transferred to the customer </span>
                    @Html.ValidationMessageFor(e => e.Amount)
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-success">
                        Send Money
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>