﻿@model Web.Models.WithdrawModel
@{
    ViewData["Title"] = "Withdraw Page";
}
<div class="col-md-6">
    <div class="k-portlet">

        <div class="k-portlet__head">
            <div class="k-portlet__head-label">
                <h3 class="k-portlet__head-title">Withdraw funds</h3>
            </div>
        </div>

        <div class="k-portlet__body">
            <div class="form-group ">
                <label>Select a customer</label>
                <form asp-action="WithDraw" method="get" asp-antiforgery="false">
                    <div class="input-group">
                        @Html.DropDownList("Customer", null, "Select Customer", htmlAttributes: new { @class = "form-control" })

                        <div class="input-group-append">

                            <button type="submit" class="btn btn-success">
                                Load Details
                            </button>

                        </div>
                    </div>
                </form>
            </div>

            <div class="k-separator k-separator--space-lg k-separator--border-dashed"></div>

            <form asp-antiforgery="true" asp-action="WithDraw">
                <input type="hidden" name="Customer" value="@ViewData["CustomerId"]"/>
                <div class="form-group">
                    <label> Account Holder name</label>
                    <input asp-for="AccountName" class="form-control" placeholder="Enter name"/>
                </div>
                
                <div class="form-group">
                    <h5>
                        UK banks only
                    </h5>
                </div>

                <div class="form-group">
                    <label> Sorcode</label>
                    <input asp-for="SortCode" class="form-control" placeholder="Enter Sort-Code"/>
                </div>

                <div class="form-group">
                    <label> Account Number</label>
                    <input asp-for="AccountNumber" class="form-control" placeholder="Enter Account Number"/>
                </div>

                <div class="form-group">
                    <h5>
                        EU banks only
                    </h5>
                </div>

                <div class="form-group">
                    <label> IBAN</label>
                    <input asp-for="IbanNumber" class="form-control" placeholder="Enter IBAN"/>
                </div>

                <div class="form-group">
                    <h5>
                        Australian banks only
                    </h5>
                </div>

                <div class="form-group">
                    <label> BSB code</label>
                    <input asp-for="BsbCode" class="form-control" placeholder="Enter BSB Code"/>
                </div>

                <div class="form-group">
                    <label> Account Number</label>
                    <input asp-for="AccountNumber" class="form-control" placeholder="Enter Account Number"/>
                </div>

                <div class="form-group">
                    <h5>
                        USA banks only
                    </h5>
                </div>

                <div class="form-group">
                    <label> ACH Routing number</label>
                    <input asp-for="Abartn" class="form-control" placeholder="Enter ACH Routing number"/>
                </div>

                <div class="form-group">
                    <label> Account Number</label>
                    <input asp-for="AccountNumber" class="form-control" placeholder="Enter Account Number"/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-dollar-sign"></i> Send Money</button>
                </div>
            </form>
        </div>
    </div>
</div>