﻿@model Web.Models.AddBalanceModel
@(ViewData["Title"] = "Topup Page")
<div class="col-lg-6">
    <div class="k-portlet">
        <div class="k-portlet__head">
            <div class="k-portlet__head-label">
                <h3 class="k-portlet__head-title">
                    Add customer balance
                </h3>
            </div>
            <div class="k-portlet__head-toolbar">
                <div class="k-portlet__head-group">
                    <a asp-action="Index" class="btn btn-default btn-sm btn-bold btn-upper">View customers</a>
                </div>
            </div>
        </div>

        <div class="k-portlet__body">
            <form asp-action="AddBalance" asp-antiforgery="true">
                <div class="form-group">
                    <h5>
                        Adding to @ViewData["CustomerName"]'s balance of, £@ViewData["Balance"]
                    </h5>
                </div>

                <div class="form-group ">
                    <label>Add to customer balance</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text">£</span></div>
                        <input type="text" asp-for="Amount" class="form-control" placeholder="Add mount">
                    </div>
                    <span class="form-text text-muted">Will add the amount entered to the balance </span>
                    @Html.ValidationMessageFor(e => e.Amount)
                </div>

                <div class="k-separator k-separator--space-lg k-separator--border-dashed"></div>

                <div class="form-group">
                    <h5>
                        Customer Credit Card
                    </h5>
                </div>

                <div class="form-group">
                    <label>Credit card Number</label>
                    <input type="text" asp-for="CreditCard" class="form-control" placeholder="Credit Card">
                    <span class="form-text text-muted">We'll never share your email with anyone else.</span>
                    @Html.ValidationMessageFor(e => e.CreditCard)
                </div>

                <div class="form-group row">
                    <div class="col-6">
                        <label>CVV</label>
                        <input type="text" asp-for="Cvv" class="form-control" placeholder="CVV">
                    </div>

                    @Html.ValidationMessageFor(e => e.Cvv)
                </div>

                <div class="form-group row">
                    <div class="col-6">
                        <label>Expiry Month</label>
                        <input type="text" asp-for="ExpiryMonth" class="form-control" placeholder="Month">
                    </div>
                    <div class="col-6">
                        <label>Expiry Year</label>
                        <input type="text" asp-for="ExpiryYear" class="form-control" placeholder="Year">
                    </div>

                    @Html.ValidationMessageFor(e => e.ExpiryMonth)
                    @Html.ValidationMessageFor(e => e.ExpiryYear)
                </div>
                <div class="form-group">
                    <span class="form-text text-muted">We use the customers name and address to process the payment</span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-dollar-sign"></i> Add Money</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
