﻿@model Composite.Data.Customer

@{
    ViewData["Title"] = "Create Customer Page";

}
<div class="k-portlet">
    <div class="k-portlet__head">
        <div class="k-portlet__head-label">
            <h3 class="k-portlet__head-title">
                <i class="la la-plus"></i>
                Add new customer
            </h3>
        </div>
    </div>
    <div class="k-portlet__body">
        <form asp-action="Create" autocomplete="off" asp-antiforgery="true">
            <div class="form-group row">
                <label class="col-3 col-form-label">First name</label>
                <div class="col-6">
                    <input class="form-control" asp-for="FirstName" placeholder="First Name">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label">Last name</label>
                <div class="col-6">
                    <input class="form-control" asp-for="LastName" placeholder="Last Name">
                </div>
            </div>

            <div class="row">
                <label class="col-3"></label>
                <div class="col-6">
                    <h3 class="k-section__title k-section__title-sm">Address:</h3>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label">Street address</label>
                <div class="col-6">
                    <input class="form-control" asp-for="Address.FirstLine" placeholder="Street Address">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label">City</label>
                <div class="col-6">
                    <input class="form-control" asp-for="Address.City" placeholder="City">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label">State</label>
                <div class="col-6">
                    <input class="form-control" asp-for="Address.State" placeholder="State">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label">Country</label>
                <div class="col-6">
                    <input class="form-control" asp-for="Address.Country" placeholder="Country">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label">Post code</label>
                <div class="col-6">
                    <input class="form-control" asp-for="Address.PostalCode" placeholder="Postcode">
                </div>
            </div>

            <div class="row">
                <label class="col-3"></label>
                <div class="col-6">
                    <h3 class="k-section__title k-section__title-sm">Money:</h3>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label">Initial balance</label>
                <div class="col-6">
                    <input class="form-control" asp-for="Balance" placeholder="Initial customer balance">
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                </div>
                <div class="col-9">
                    <button type="submit" class="btn btn-success">Add Now</button>
                </div>
            </div>
        </form>

    </div>
</div>
