﻿@using System.Linq
@model List<Composite.Data.Customer>

@{
    ViewData["Title"] = "Customers Page";
}

<div class="k-portlet">
    <div class="k-portlet__head">
        <div class="k-portlet__head-label">
            <h3 class="k-portlet__head-title">Customers</h3>
        </div>

        <div class="k-portlet__head-toolbar">
            <a asp-action="Create" class="btn btn-success btn-upper">Add new</a>
        </div>
    </div>
    <div class="k-portlet__body">
        <div class="accordion accordion-outline" id="Customers">
            @{
                foreach (var customer in Model)
                {
                    <div class="card">
                        <div class="card-header" id="customer-@(customer.CustomerId)">
                            <div class="card-title collapsed" data-toggle="collapse" data-target="#collapse-@(customer.CustomerId)" aria-expanded="false" aria-controls="collapseOne3">
                                @customer.FirstName @customer.LastName, Balance: £@customer.Balance
                            </div>
                        </div>
                        <div id="collapse-@(customer.CustomerId)" class="card-body-wrapper collapse" aria-labelledby="customer-@(customer.CustomerId)" data-parent="#Customers" style="">
                            <div class="card-body">

                                <form asp-action="Update" autocomplete="off" asp-antiforgery="true">
                                    <div class="form-group row">
                                        <span class="col-3"></span>
                                        <div class="col-8">
                                            <a asp-action="AddBalance" asp-route-id="@customer.CustomerId" class="btn btn-lg btn-success">
                                                <i class="la la-plus"></i> Add Balance
                                            </a>
                                            <a asp-controller="SendMoney" asp-action="SendToAccount" asp-route-id="@customer.CustomerId" class="btn btn-lg btn-success">
                                                <i class="la la-dollar"></i> Send Money
                                            </a>
                                            <a asp-controller="SendMoney" asp-action="WithDraw" asp-route-Customer="@customer.CustomerId" class="btn btn-lg btn-success">
                                                <i class="la la-bank"></i> Withdraw
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-6">
                                            <input class="form-control" type="hidden" value="@customer.CustomerId" asp-for="First().CustomerId" placeholder="Enter email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">First name</label>
                                        <div class="col-6">
                                            <input class="form-control" value="@customer.FirstName" asp-for="First().FirstName" placeholder="Enter email">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Last name</label>
                                        <div class="col-6">
                                            <input class="form-control" value="@customer.LastName" asp-for="First().LastName" placeholder="Enter email">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <label class="col-3"></label>
                                        <div class="col-6">
                                            <h3 class="k-section__title k-section__title-sm">Address:</h3>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Street address</label>
                                        <div class="col-6">
                                            <input class="form-control" value="@customer.Address.FirstLine" asp-for="First().Address.FirstLine" placeholder="Street Address">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">City</label>
                                        <div class="col-6">
                                            <input class="form-control" value="@customer.Address.City" asp-for="First().Address.City" placeholder="City">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">State</label>
                                        <div class="col-6">
                                            <input class="form-control" value="@customer.Address.State" asp-for="First().Address.State" placeholder="State">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Country</label>
                                        <div class="col-6">
                                            <input class="form-control" value="@customer.Address.Country" asp-for="First().Address.Country" placeholder="Country">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Post code</label>
                                        <div class="col-6">
                                            <input class="form-control" value="@customer.Address.PostalCode" asp-for="First().Address.PostalCode" placeholder="Postcode">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-3">
                                        </div>
                                        <div class="col-9">
                                            <button type="submit" class="btn btn-success">Update</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>