﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is Kelvin Macartney's Distributed Systems Coursework 2 building Web apps with ASP.NET Core</p>
</div>
